
*.dylib
WebstyleConverter.debug/Resources/homescreen76.png
WebstyleConverter.debug/Resources/homescreen60.png
WebstyleConverter.debug/Resources/homescreen152.png
WebstyleConverter.debug/Resources/homescreen120.png
WebstyleConverter.debug/Resources/favicon@2x.ico
WebstyleConverter.debug/Resources/favicon.ico
